<!DOCTYPE html>
<html>
<head>
  <title>Edit Car</title>
</head>
<body>
<h1>Edit Car</h1>
<form action="/cars/<%= car._id %>?_method=PUT" method="POST">
  <label>Make:</label><input type="text" name="make" value="<%= car.make %>" required><br>
  <label>Model:</label><input type="text" name="model" value="<%= car.model %>" required><br>
  <label>Year:</label><input type="number" name="year" value="<%= car.year %>" required><br>
  <label>Color:</label><input type="text" name="color" value="<%= car.color %>"><br>
  <label>Electric?</label>
  <input type="checkbox" name="isElectric" <%= car.isElectric ? 'checked' : '' %>><br>
  <button type="submit">Update Car</button>
</form>
<a href="/cars/<%= car._id %>">Cancel</a>
</body>
</html>
